{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind css -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" />
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        input {
            width: 100%;
            border: 1px rgb(161, 158, 158) solid;
            border-radius: 5px;
        }

    </style>
    <title>FAQ</title>
</head>
<body class="text-gray-600">
    <nav class="bg-white shadow-sm">
        <div class="container mx-auto px-4 py-3 flex items-center">
            <div class="w-40">
                <a href="{% url 'post_list' %}">
                    <img src="{% static 'images/logo.svg.svg' %}" alt="logo-mini">
                </a>
            </div>
    
            <div class="ml-12 flex space-x-5 hidden lg:flex">
                <a href="{% url 'post_list' %}" class="flex items-center font-semibold text-sm hover:text-blue-500 transition">
                    <span class="mr-2">
                        <i class="fa fa-home"></i>
                    </span>
                    Accueil
                </a>
                <a href="{% url 'question_lists' %}" class="flex items-center font-semibold text-sm hover:text-blue-500 transition">
                    <span class="mr-2">
                        <i class="fa fa-question-circle"></i>
                    </span>
                    FAQ
                </a>
            </div>
    
            <div class="relative ml-auto hidden lg:block">
                <span class="absolute left-3 top-2 text-sm text-gray-500">
                    <i class="fa fa-search"></i>
                </span>
                <form action="{% url 'post_search' %}" method="get">
                    <input type="text" name="query" class="block w-full border-none rounded-3xl pl-11 pr-2 py-2 focus:outline-none bg-gray-50 text-sm text-gray-700 shadow-sm" placeholder="Recherche...">
                </form>
            </div>

            <div class="lg:ml-5 ml-auto flex">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile_view' %}" class="flex items-center text-sm font-semibold hover:text-blue-500 transition">
                        <img src="{{ user.profile.image.url }}" alt="profile-image" class="object-cover w-6 h-6 rounded-full">
                        {{user.username}}
                    </a>/
                    <a href="{% url 'logout_view' %}" class="flex items-center text-sm font-semibold hover:text-blue-500 transition">
                        Se deconnecter
                    </a>
                {% else %}
                    <a href="{% url 'login_view' %}" class="flex items-center text-sm font-semibold hover:text-blue-500 transition">
                        Se connecter
                    </a>/
                    <a href="{% url 'register_view' %}" class="flex items-center text-sm font-semibold hover:text-blue-500 transition">
                        S'inscrire
                    </a>
                {% endif %}
            </div>

            <div class="ml-4 block xl:hidden text-xl text-gray-700 cursor-pointer hover:text-blue-500 transition" id="open_sidebar">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </nav>

    <main class="py-12 bg-gray-100 min-h-screen">
        <div class="container mx-auto px-4 flex flex-wrap lg:flex-nowrap">
            <div class="xl:w-10/12 lg:w-8/12 w-full lg:mx-6 space-y-2">
                    <div class="flex items-center justify-between bg-white px-3 py-2 flex-center rounded-sm mb-4">
                        <h5 class="text-base uppercase font-semibold">Top Questions</h5>
                        
                        {% if user.is_authenticated %}
                            <a href="{% url 'question_create' %}">
                                <button class="px-3 py-2 text-sm px-1 text-xs border-gray-200 rounded-sm shadow-sm bg-blue-500 text-white transition">Poser une question</button>
                            </a>
                        {% else %}
                            <a href="{% url 'login_view' %}">
                                <button class="px-3 py-2 text-sm px-1 text-xs border-gray-200 rounded-sm shadow-sm bg-blue-500 text-white transition">Poser une question</button>
                            </a>
                        {% endif %}
                    </div>

                    {% block content %}

                    {% endblock content %}
            </div>

            <div class="xl:w-3/12 lg:w-4/12 w-full mt-8 lg:mt-0">
                <div class="bg-white shadow-sm rounded-sm p-4 mb-3">
                    <form action="" method="get">   
                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                            </div>
                            <input type="search" name="search-area" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Rechercher question...">
                        </div>
                    </form>                    
                </div>
                
                <div class="bg-white shadow-sm rounded-sm p-4">
                    <h3 class="text-xl font-semibold text-grey-700 mb-3">Reseaux sociaux</h3>
                    <div class="flex gap-2">
                        <a href="#" class="w-8 h-8 rounded-sm flex items-center justify-center border border-gray-400 text-base text-gray-800">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="w-8 h-8 rounded-sm flex items-center justify-center border border-gray-400 text-base text-gray-800">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="w-8 h-8 rounded-sm flex items-center justify-center border border-gray-400 text-base text-gray-800">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="w-8 h-8 rounded-sm flex items-center justify-center border border-gray-400 text-base text-gray-800">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                        <a href="#" class="w-8 h-8 rounded-sm flex items-center justify-center border border-gray-400 text-base text-gray-800">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="py-4 bg-white border-t">
        <p class="text-sm text-center">
            Copyright &copy; 2021 <span class="font-semibold">Alex Esaki</span>
            Tous droits reserves
        </p>
    </footer>

    <div class="fixed w-full h-full bg-black left-0 top-0 z-10  xl:hidden bg-opacity-25 opacity-0 invisible transition-all duration-500" id="sidebar_wrapper">
        <div class="fixed top-0 w-72 h-full bg-white shadow-md z-10 flex flex-col p-4">
            <h3 class="text-xl font-semibold text-gray-700 mb-3">Rechercher</h3>
            
            <div class="relative mb-3">
                <span class="absolute left-3 top-2 text-sm text-gray-500">
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" class="block w-full border-none rounded-3xl pl-11 pr-2 py-2 focus:outline-none bg-gray-50 text-sm text-gray-700 shadow-sm" placeholder="Recherche...">
            </div>

            <hr class="my-3">

            <h3 class="text-xl font-semibold text-gray-700 mb-3">Menu</h3>
            
            <div class="flex flex-col space-y-4">
                <a href="" class="flex font-semibold text-sm hover:text-blue-500 transition">
                    <span class="mr-2">
                        <i class="fa fa-home"></i>
                    </span>
                    Accueil
                </a>
                <a href="" class="flex font-semibold text-sm hover:text-blue-500 transition">
                    <span class="mr-2">
                        <i class="fa fa-file-alt"></i>
                    </span>
                    A propos
                </a>
                <a href="" class="flex font-semibold text-sm hover:text-blue-500 transition">
                    <span class="mr-2">
                        <i class="fa fa-phone"></i>
                    </span>
                    Contact
                </a>
            </div>

            <hr class="my-3">

            <h3 class="text-xl font-semibold text-gray-700 mb-3">Categories</h3>
                    
            <div class="text-gray-700 space-y-2">
                {% for cat in categories %}
                    <a href="{% url 'category_post_list' cat.slug %}" class="flex items-center font-semibold leading-4 uppercase text-sm hover:text-blue-500 transition">
                        <span class="mr-2">
                            <i class="fa fa-folder-open"></i>
                        </span>
                        <span>{{cat.name}}</span>
                        <span class="font-normal ml-auto">(12)</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        document.querySelector("#open_sidebar").addEventListener('click', function() {
            document.querySelector("#sidebar_wrapper").classList.remove("opacity-0")
            document.querySelector("#sidebar_wrapper").classList.remove("invisible")
        })

        document.body.addEventListener('click', function(e) {
            if(e.target.id === 'sidebar_wrapper') {
                document.querySelector("#sidebar_wrapper").classList.add("opacity-0")
                document.querySelector("#sidebar_wrapper").classList.add("invisible")
            }
        })
    </script>
</body>
</html>