{% extends "faq/base.html" %}

{% block content %}
    <div>
        <div class="bg-white shadow-sm rounded-sm">
            <div class="p-4">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div>
                        <label for="titre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titre</label>
                        {{form.title}}
                    </div>
                    <div>
                        <label for="contenu" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contenu</label>
                        {{form.content|safe}}
                        {{form.media}}
                    </div>
                    
                    <button class="px-3 py-2 text-sm px-1 text-xs border-gray-200 rounded-sm shadow-sm bg-green-500 text-white transition">Poster la question</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}