{% extends "faq/base.html" %}

{% block content %}
    <div>
        <div class="bg-white shadow-sm rounded-sm">
            <div class="p-4">
                <div class="flex mt-3 space-x-5">
                    <div class="flex items-center text-gray-400 text-sm">
                        <span class="mr-2 text-xs">
                            <i class="fa fa-user"></i>
                        </span>
                        {{ question.user }}
                    </div>
                    <div class="flex text-gray-400 text-xs items-center">
                        <span class="mr-1 text-xs">
                            <i class="fa fa-clock"></i>
                        </span>
                        Il y a {{ question.date_created|timesince }}
                    </div>
                </div>
    
                <a href="#">
                    <h2 class="text-2xl font-semibold text-gray-700 hover:text-blue-500 transition">
                        {{ question.title }}
                    </h2>
                </a>
    
                <p class="text-gray-500 text-sm mt-2">
                    {{question.content|safe}}
                </p>
            </div>
        </div>
    
        <!-- <div class="bg-white p-4 rounded-sm shadow-sm mt-8">
            {% if new_comment %}
                <h3 class="text-base uppercase font-semibold mb-4">Votre commentaire a ete ajoute.</h3>
            {% else %}
                <h5 class="text-base uppercase font-semibold mb-4">Postez un commentaire</h5>
                <form action="" method="post" class="mt-8">
                    {% csrf_token %}
                    {{comment_form.as_p}}

                    <button type="submit" class="px-3 py-2 text-sm px-1 text-xs border-gray-200 rounded-sm shadow-sm bg-blue-500 text-white transition">Commenter</button>
                </form>
            {% endif %}


    
            <h2 class="text-gray-500 my-4 text-2xl">
                {% with comments.count as total_comments %}
                    {{total_comments}} commentaire{{total_comments|pluralize}}
                {% endwith %}
            </h2>
    
            <div class="space-y-4">
                {% for comment in comments %}
                    <div class="flex items-start border-b pb-5 border-gray-200">
                        <div class="flex-shrink-0">
                            <img src="https://dummyimage.com/720x400" alt="image" class="w-12 h-12 rounded-full">
                        </div>
                        <div class="flex-grow pl-4">
                            <div class="flex items-center font-semibold">
                                {{comment.author.username}}
                                <span class="text-sm ml-2"> il y a {{comment.created|timesince}}</span>
                            </div>
                            <p class="text-sm mt-2">{{comment.body}}</p>
                        </div>
                    </div>
                    {% empty %}
                    <h2>Vous pouvez laisser un commentaire.</h2>
                {% endfor %}
            </div>
        </div> -->
    
    </div>
{% endblock content %}