{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="bg-white p-4 shadow-sm rounded-sm flex card">
            <div class="flex-shrink-0 card-image">
                <a href="#" class="hoverflow-hidden block">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="traversymedia" class="object-cover h-38 w-60 rounded transform hover:scale-110 transition duration-500">
                    {% endif %}
                </a>
            </div>

            <div class="mt-0 flex-grow pl-2 card-text">
                <a href="#">
                    <h2 class="text-sm font-semibold text-gray-700 hover:text-blue-500 transition">
                        <a href="{% url 'post_detail' post.slug %}">{{ post.title|truncatechars:60 }}</a>
                    </h2>
                </a>
                <p class="text-gray-500 text-xs">
                    {{post.body|truncatechars:50}}
                </p>
                
                {% for tag in post.tags.all %}
                    <a href="{% url 'tag_post_list' tag.slug %}" class="text-xs text-blue-500">
                        #{{ tag.name }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}

                <div class="flex space-x-5 justify-between">
                    <div class="flex items-center text-gray-400 text-sm">
                        <span class="mr-2 text-xs">
                            <i class="fa fa-user"></i>
                        </span>
                        {{ post.author.username }}
                    </div>
                    <div class="flex text-gray-400 text-xs items-center">
                        <span class="mr-1 text-xs">
                            <i class="fa fa-clock"></i>
                        </span>
                        Il y a {{ post.publish|timesince }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        
    {% include 'blog/layouts/pagination.html' with page=posts %}

{% endblock content %}